* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: aqua;
    background-image:  linear-gradient(to top, aqua, orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: aqua;
    transition: all 0.3s ease;
}



@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px; 
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: black;
    }

    .navbar__menu.active {
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background : white;

    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* ABOUT Section */

.about {
    background-color: black;
    padding: 10rem 0;
}

.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.about__content h1{
    font-size: 5rem;
    background-color: aqua;
    background-image:  linear-gradient(to top, aqua, orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 32px;
}

.about__content p {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 700;
    color: white;
}

.about__img--container {
    text-align: center;
    
}

.about__img--card {
    margin: 10;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}


@media screen and (max-width: 1100px) {
    .about__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center ;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .about__img--container {
        display: flex;
        justify-content: center;
    }

    .about__img--card {
        height: 425px;
        width: 425px;
    }

    .about__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .about__content h1 {
        font-size: 5rem;
        margin-top: 2rem;

    }

    .about__content p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 480px) {

    .about__img--card{
        width: 250px;
        height: 250px;
    }

    .about__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .about__content h1 {
        font-size: 4.5rem;
        margin-top: 2rem;

    }

    .about__content p {
        
        margin-top: 1rem;
    }
}
/* PAST PROJECTS SECTION */


.wrap{
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;

}
.past {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 3rem 3rem 0 0;
   
}


.past h1 {
    background-color: aqua;
    background-image:  linear-gradient(to top, aqua, orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-size: 2.5rem
}

.slider{
    display: inline-block;
}
.arrow{
    cursor: pointer;
    display: inline-block;
    top: 50%;
    margin-top: 35px;
    width: 0;
    height: 0;
    border-style: solid;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.arrow:hover{
    opacity: 1;
    transition: opacity 0.3s;
}

#arrow-left{
    border-width: 30px 40px 30px 0;
    border-color: transparent white transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right{
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent white;
    right: 0;
    margin-right: 30px;
}


.past__card {
    margin: 10px;
    height: 500px;
    width: 1000px;
    border-radius: 4px;
    display: grid;
    grid-column: 1fr 2fr;
    color: white;
    transition: 0.3s ease-in;
}

.slide__image{
    width: 400px;
    display: inline-block;
}

.slide__image img {
    display: inline-block;
    width: 400px;
    height: auto; 
}

.slide__content{
    display: inline-block;
    width: 500px;
    margin-left: 1rem;
}
.slide__content h2 {
    display: inline-block;
    text-align: left;
}

.slide__content p {
    text-align: left ;
    margin-top: 24px;
    font-size: 20px;
}

.past__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.past__card button {
    color: black;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background:  linear-gradient(to top, aqua, orange);
    font-size: 1rem;
}

.past__card button:hover {
    cursor: pointer;
    transform: scale(1.075);
    transition: 0.3s ease-in;
}


@media screen and (max-width: 1100px) {
    .wrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        align-items: center ;
        justify-content: center;
        margin: 0 auto;
    }
    .past__card{
        display: grid;
        grid-template-columns: 1fr; 
        align-items: center ;
        justify-content: center;
        width: 100%;
        margin-left: 350px;
        margin-right: -250px;
        height: 90%;
    }

    #arrow-left{
        margin-left: 450px;
        left: 0;
        display: inline-block;
    }
    #arrow-right{
        display: inline-block;
        right: 0;
        margin-right: 450px;

    }
    .slide__image{
        align-items: center ;
        justify-content: center;
    }
    .slide__content{
        align-items: center ;
        justify-content: center;
    }
    .slide__content h2 {
        display: inline-block;
        text-align: left;
    }
    
    .slide__content p {
        text-align: left ;
        margin-top: 24px;
        font-size: 15px;
    }

    
}

@media screen and (max-width: 480px){
    .wrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        
    }
    .past__card{
        display: grid;
        grid-template-columns: 1fr; 
        align-items: center ;
        justify-content: center;
        width: 100%;
        margin-left: 350px;
        margin-right: -250px;
        height: 90%;
    }
    .slide__image img {
        align-items: center ;
        justify-content: center;
        margin-left: 25px;
        width: 300px;
    }
    .slide__content{
        width: 300px;
        align-items: center ;
        justify-content: center;
    }
}

/* Current Projects Section */


.current{
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 100%;
    padding: 3rem 3rem 0 0;
}

.current h1 {
    background-color: aqua;
    background-image:  linear-gradient(to top, aqua, orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.curr__projects{
    margin-left: 50px;
    color: white;
    margin-bottom: 5rem;
}

.curr__pannel{
    margin-top: 2rem;
}

.curr__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.curr__pannel button {
    color: black;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background:  linear-gradient(to top, aqua, orange);
    font-size: 1rem;
}

.curr__pannel button:hover {
    cursor: pointer;
    transform: scale(1.075);
    transition: 0.3s ease-in;
}

.curr__pannel h2 {
    margin-top: 10px;
}



@media screen and (max-width: 1100px) {
    .pannel__image img{
        width: 500px;
    }
}

@media screen and (max-width: 480px){
 .pannel__image img{
    width: 300px
 }
}
