* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    background: black;
}

.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: aqua;
    background-image:  linear-gradient(to top, aqua, orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: aqua;
    transition: all 0.3s ease;
}



@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px; 
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: black;
    }

    .navbar__menu.active {
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background : white;

    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* ABOUT Section */

.about {
    background-color: black;
    padding: 10rem 0;
}

.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    
}

.about__content h1{
    font-size: 5rem;
    background-color: aqua;
    background-image:  linear-gradient(to top, aqua, orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 32px;
}

.about__content p {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 700;
    color: white;
}

.about__img--container {
    text-align: center;
    
}
.about__img--card img {
    border-radius: 20px;
}

.about__img--card {
    margin: 10;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}


@media screen and (max-width: 1100px) {
    .about__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center ;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .about__img--container {
        display: flex;
        justify-content: center;
    }

    .about__img--card {
        height: 425px;
        width: 425px;
    }

    .about__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .about__content h1 {
        font-size: 5rem;
        margin-top: 2rem;

    }

    .about__content p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 480px) {

    .about__img--card{
        width: 250px;
        height: 250px;
    }

    .about__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .about__content h1 {
        font-size: 4.5rem;
        margin-top: 2rem;

    }

    .about__content p {
        
        margin-top: 1rem;
    }
}
/* PAST PROJECTS SECTION */


.past {
    box-sizing: border-box;
    background-color: black;
   
}

.past img {
    vertical-align: middle;
}
.past button {
    color: black;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background:  linear-gradient(to top, aqua, orange);
    font-size: 1rem;
}

.past button:hover {
    cursor: pointer;
    transform: scale(1.075);
    transition: 0.3s ease-in;
}

.past h1 {
    text-align: center;
    background-color: aqua;
    background-image:  linear-gradient(to top, aqua, orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    margin-top: 3rem;
    font-size: 2.5rem
}

.past p {
    background-color: transparent;
    font-size: 2rem;
}

.mySlides{
    display: none;
}

.slideshow-container {
    position: relative;
    padding: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: transparent;
  }
  
  .next {
    right: 0;
    margin-right: 5px;
    border-radius: 3px 0 0 3px;
  }
  

  .prev:hover, .next:hover {
    color: rgba(25, 24, 24, 0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 10px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    text-align: center;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  


.slide__image{
    width: 50%;
    display: inline-block;
   
}

.slide__image img {
    display: inline-block;
    vertical-align: middle;
    max-width: 400px;
    height: auto; 
}

.slide__content{
    display: inline-block;
    width: 500px;
    color: white;
    margin-left: 1rem;
    vertical-align: middle;
}
.slide__content h2 {
    display: inline-block;
    text-align: left;
}

.slide__content p {
    text-align: left ;
    margin-top: 24px;
    font-size: 20px;
}

.past__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.past__card button {
    color: black;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background:  linear-gradient(to top, aqua, orange);
    font-size: 1rem;
}

.past__card button:hover {
    cursor: pointer;
    transform: scale(1.075);
    transition: 0.3s ease-in;
}

@media only screen and (max-width: 1100px) {
    .prev, .next,.text {font-size: 11px}
    .slide__content{
        display: inline-block;
        max-width: 300px;
        text-align: center;
        vertical-align: middle;
    }
    .slide__image img {
        max-width: 300px;
    }

  }

/* Current Projects Section */


.current{
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 100%;
    padding: 3rem 3rem 0 0;
}

.current h1 {
    background-color: aqua;
    background-image:  linear-gradient(to top, aqua, orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.curr__projects{
    margin-left: 50px;
    color: white;
    margin-bottom: 5rem;
}

.curr__pannel{
    margin-top: 2rem;
}

.curr__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.curr__pannel button {
    color: black;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background:  linear-gradient(to top, aqua, orange);
    font-size: 1rem;
}

.curr__pannel button:hover {
    cursor: pointer;
    transform: scale(1.075);
    transition: 0.3s ease-in;
}

.curr__pannel h2 {
    margin-top: 10px;
}

.curr__pannel.one img{
    max-width: 400px;
    height: 100%;
}

.curr__pannel.two img{
    max-width: 400px;
}

@media screen and (max-width: 1100px) {
    .pannel__image img{
        max-width: 400px;
    }
}

@media screen and (max-width: 480px){
 .pannel__image img{
    width: 200px
 }
}

/* Contact Section */
.contact{
    background-color: black;
    color: white;
}
.contact__container{
    width: 80%;
    margin-left: 50px;
    padding-bottom: 50px;
}

.contact-box{
    display: flex;
    background-color: white;
}
.contact-left{
    flex-basis: 60%;
    background-color: white;
    padding: 40px 60px;
    color: black;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    color: black;
    background: aqua;
}
.contact__container h1{
    margin-bottom: 10px;
}

.contact__container p {
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: white;
}

.input-row.input-group{
    flex-basis: 40%;
}
label{
    background-color: white;
}
.input-group{
    background-color: white;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    background-color: white;
    
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}
 
.contact__container button{
    background: aqua;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 5px;
    transition: all 0.3s;
}

#contact-form{
    background-color: white;
}
.contact__container button:hover{
    box-shadow: 0px 5px 15px 0px rgb(110, 195, 195);
    transition: all 0.3s;
}

.contact-left h3{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: white;
}
.contact-right h3{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: aqua;

}
table{
    border-collapse: collapse;
}
tr td:first-child {
    padding-right: 20px;
}
tr td {
    padding-top: 10px;
    background-color: aqua;
    border: none;
    outline: none;
}

@media screen and (max-width: 1045px){
    .contact-box{
        display: block;
    }
}